@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.button {
  display: flex;
  color: rgb(147, 129, 255);
  background: transparent;
  border: solid 2px rgb(147, 129, 255);
  width: 140px;
  height: 45px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.link {
  text-decoration: none;
  color: rgb(147, 129, 255);
  display: flex;
}

.link:hover {
  color: white;

}

.button:hover {
  border: white;
  color: white;
  background-color: rgb(147, 129, 255);
  cursor: pointer;
}

.button:hover .link {
  color: white; /* This line makes the link text turn white when hovering the button */
}