.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    width: 428px;
    height: 926px;
    background-color: (249, 249, 255);
  }
  .box {
    position: relative;
    align-content: center;
    width: 332px;
    height: 656px;
    border: solid 10px rgba(255, 218, 185, 1);
  }
  .pie {
    display: flex;
    align-items: center;
    padding-top: 1%;
  
  
  }
  .title {
    position: absolute;
    width: 213px;
    height: 40px;
    left: 103px;
    top: 34px;
    color: black;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }
  .box h2 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: black;
    position: absolute;
    top: 325px;
  }
  .box p {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: black;
    position: absolute;
    top: 400px;
    width: 264px;
    left: 22px;
  }
  .link {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;
  }
  
  