:root {

  /* Spacing */
  --max-width: 1100px;
  --border-radius: 10px;
  --corner-radius: 5px;

  /* Fonts */
  --font-title: "Comfortaa", sans-serif;
  --font-subtitle: "Comfortaa", sans-serif;
  --font-text: "Montserrat", sans-serif;


  /* Gradients */
  --radial-text: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  radial-gradient(
    50% 50% at 50% 50%,
    rgba(147, 129, 255, 0.2) 0%,
    rgba(79, 26, 98, 0.2) 94.12%
  );

  --darker-text: linear-gradient(0deg, rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.521)),
  radial-gradient(
    50% 50% at 50% 50%,
    rgba(148, 129, 255, 0.514) 40%,
    rgba(79, 26, 98, 0.418) 94.12%
  );

  /* Font sizes */
  --title-size: 36px;
  --subtitle-size: 32px;
  --body-size: 24px;

  /* Colours */
  --dl-white: #f8f9f9ff;
  --dl-black: #212121ff;
  --dark-purple: #311D4A;
  --main-purple: #9381FF;
  --light-purple: #B8B8FF;
  --creme: #f9f9ff;
  --peach: #FFDAB9;
  --green: #8DDB2A;
  --orange: #FFC122;
  --red: #F05D5D;
  --yellowgreen: #CADB2A;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow: hidden;
}

body {
  font-family: var(--font-text);
  line-height: 1.5;
  color: var(--radial-text);
  background-color: var(--creme);
}
*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  background: var(--radial-text);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-purple);
  border-radius: 14px;
  border: 3px solid var(--dl-black);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
