.button {
  color: rgb(147, 129, 255);
  background: transparent;
  border: solid 2px rgb(147, 129, 255);
  width: 140px;
  height: 45px;
  border-radius: 100px;
}

.link{
  text-decoration: none;
}

.button:hover {
  border: white;
  color: white;
  background-color: rgb(147, 129, 255);
  cursor: pointer;
}