
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: solid 10px rgb(190, 185, 255);
}

.div3 {
  grid-area: 3 / 1 / 4 / 4;
  height: 5rem;
  border: solid 10px rgba(255, 218, 185, 1);
}
.title {
  
  color: black;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}
.div1 {
  grid-area: 2 / 2 / 3 / 5;
  border: solid 10px rgba(255, 218, 185, 1);
}
.div1 h2 {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  color: black;

}
.div1 p {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: black;
}
.div2 {
  grid-area: 3 / 1 / 4 / 6;
  border: solid 10px rgba(255, 218, 185, 1);
}


