.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  width: 428px;
  height: 926px;
  background-color: (249, 249, 255);
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div3 {
  grid-area: 1 / 2 / 2 / 5;
}
.title {
  
  color: black;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}
.div1 {
  grid-area: 2 / 2 / 5 / 5;
}
.div1 h2 {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  color: black;

}
.div1 p {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: black;
}
.div2 {
  grid-area: 5 / 2 / 7 / 5;
}


