.pie {
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  @media only screen and (max-width: 1920px) and (max-height: 1080px) {
    .pie {
      max-width: 240px;
      max-width: 240px;
    }
  }
  
  @media only screen and (max-width: 375px) and (max-height: 557px) {
    .pie {
      max-width: 240px;
      height: 240px;
    }
  }
  