.container {
    display: flex;
    align-items: center;
    justify-content: baseline;
    min-height: 100vh;
}

.water_wave{
    width: 500px;
    height: 500px;
    background:#1f82ac;
    box-shadow: insert 0 0 20px 0 rgba(0,0,0,0.8);
    position: relative;
    overflow: hidden;
    bottom: 24rem;
}

.water_wave:after,
.water_wave:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: 50%;
    background:#f9f9ff;
}

.water_wave:after{
    border-radius:45%;
    animation: water_wave 5s linear infinite;
}

.water_wave:before{
    border-radius: 35%;
    background: rgba(255,255,255,0.3);
    animation: water_wave 5s linear infinite;
}
@keyframes water_wave{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
        top: -30%;
    }
    50%{
        transform: translate(-50%,-50%) rotate(180deg);
        top: -40%;
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
        top: -30%;
    }




}