.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.title {
  display: flex;
  align-items: left;
  justify-content: left;
  font-family: var(--font-title);
  font-size: var(--title-size);
  background-image: var(--radial-text);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 500;
  text-align: left;
  margin: 1.5rem;
  margin-right: 5rem;
  width: 17rem;
}

.message {
  border: 4px solid var(--main-purple);
  border-radius: 50px;
  padding: 1rem;
  margin-bottom: 0.5rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  margin: 1rem;
}

.noStyleInput {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: none;
  overflow: hidden;
  padding: 0;
  font-family: var(--font-text);
  width: 90%;
}
