.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--creme);
}

.h1 {
  font-size: var(--title-size);
  margin-bottom: 2rem;
  background-image: var(--darker-text);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.p {
  font-size: var(--body-size);
  margin-bottom: 2rem;
  text-align: center;
  width: 80%;
  background-image: var(--darker-text);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.link {
  font-size: var(--body-size);
  color: var(--main-purple);
}
