.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-title);
  font-size: var(--title-size);
  background-image: var(--radial-text);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 500;
  text-align: center;
  margin: 1.5rem;
  width: 30rem;
}

.content_container {
  padding: 1rem;
  background: var(--cream);
  border: var(--border-radius) solid var(--peach);
  border-radius: var(--corner-radius);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.subtitle {
  text-align: center;
  font-family: var(--font-subtitle);
  font-size: var(--subtitle-size);
  background-image: var(--radial-text);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 500;
  width: 60vw;
  margin: 1rem;
}

.description {
  text-align: center;
  font-family: var(--font-subtitle);
  background-image: var(--radial-text);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 400;
  width: 60vw;
  margin: 1rem;
}

/** Button */
.button {
  display: flex;
  color: rgb(147, 129, 255);
  background: transparent;
  border: solid 2px rgb(147, 129, 255);
  width: 140px;
  height: 45px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin: 1rem;
  z-index: 1;

}

.wave {
  position: relative;
  bottom: 7em;
}

.link {
  text-decoration: none;
  color: rgb(147, 129, 255);
  display: flex;
}

.link:hover {
  color: white;

}

.button:hover {
  border: white;
  color: white;
  background-color: rgb(147, 129, 255);
  cursor: pointer;
}

.button:hover .link {
  color: white; /* This line makes the link text turn white when hovering the button */
}

/* Responsive styles */
@media (max-width: 375px) {
  .title {
    font-size: calc(var(--title-size) * 0.7);
    width: 35%;
  }

  .content_container {
    width: 55%;
  }

  @media (max-width: 375px) and (max-height: 667px) {
    .content_container img {
      width: 100px !important;
      height: auto !important;
      margin: 0.5rem;
    }
  }

  .subtitle {
    font-size: calc(var(--subtitle-size) * 0.6);
    width: 80%;
    margin: 0.05rem;
  }

  .description {
    font-size: calc(var(--subtitle-size) * 0.4);
    width: 80%;
  }

  .button {
    width: 100px;
    height: 35px;
    font-size: 0.8em;
  }

  .wave {
    bottom: 0em;
  }
}
